<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>HealthLX FHIR Alerts sender demo app</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-router/3.0.6/vue-router.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/index.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/locale/en.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/element-ui/2.8.2/theme-chalk/index.css">
	<style>
		body {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			margin: 0;
		}
		.hlx-logo > img {
			width: 300px;
		}
		#app {
			min-height: 100vh;
		}
		.el-select {
			width: 100%;
		}
		.el-footer {
		    display: flex;
		    justify-content: space-between;
		    align-items: center;
		}

		.download-link {
			margin-left: 20px;
			text-decoration: none;
			padding: 5px 20px;
			font-size: 12px;
		}
    </style>
</head>

<body>

	<template id="hlx-patient-form">
		<div v-loading="loading">
			<el-row type="flex" justify="center">
				<el-col :span="8" :xs="16" :sm="16" :md="8">
					<el-form
							ref="patientForm"
							:rules="rules"
							:model="context"
							label-width="120px">

						<el-form-item label="Patient">
							<el-input v-model="context.patient.name" :readonly="true"></el-input>
						</el-form-item>

						<el-form-item label="Event type" prop="eventType">
							<el-select v-model="context.eventType" @change="onEventTypeChange">
								<el-option
										label="Generate event"
										value="Generate event"
										:disabled="!context.generateEventTypes.length"
								></el-option>
								<el-option
										label="Existing event"
										value="Existing event"
										:disabled="!context.existingEvents.length"
								></el-option>
							</el-select>
						</el-form-item>

						<el-form-item label="Generate event" prop="generateEventType" v-if="context.eventType === 'Generate event'">
							<el-select v-model="context.generateEventType" @change="onEventChange">
								<el-option
										v-for="event in context.generateEventTypes"
										:label="event.name"
										:value="event.id"></el-option>
							</el-select>
						</el-form-item>

						<el-form-item label="Existing event" prop="existingEventId" v-if="context.eventType === 'Existing event'">
							<el-select v-model="context.existingEventId" @change="onEventChange">
								<el-option
										v-for="event in context.existingEvents"
										:label="event.name"
										:value="event.id"></el-option>
							</el-select>
						</el-form-item>

						<el-form-item label="Channel type" prop="channelType">
							<el-input v-model="context.channelType" :readonly="true"></el-input>
						</el-form-item>

						<el-form-item label="Receiver server">
							<el-input v-model="context.receiverUrl"></el-input>
						</el-form-item>

						<el-form-item>
							<el-button @click="submitForm" type="primary">Sent Alert</el-button>
						</el-form-item>

					</el-form>
				</el-col>
			</el-row>

			<el-collapse v-if="preview.loaded" v-model="preview.collapse">
				<el-collapse-item title="Message preview" name="1">
					<div slot="title">
						<span>Message preview</span>
						<a
							:href="'data:text/json;charset=utf-8,' + encodeURIComponent(JSON.stringify(preview.text, 0, 4))"
							download="message.json"
							class="el-button download-link"
							@click.stop
						>
							Download
						</a>
					</div>
					<div style="overflow-x:scroll;"><pre>{{ preview.text }}</pre></div>
				</el-collapse-item>
			</el-collapse>
		</div>
	</template>

	<el-container id="app" width="320px">

		<el-header>
      <el-image src="da-vinci_logo.jpg" alt="Da Vinci"></el-image>
		</el-header>

		<el-main>
				<router-view></router-view>
		</el-main>
    <el-footer height="auto">
		<div>
			You can visit demo receiver app <a th:href="@{${receiverApp}}">here.</a>
		</div>
      <el-image src="healthlx-logo.png" alt="HealthLX" class="hlx-logo"></el-image>
    </el-footer>

	</el-container>

	<script th:inline="javascript">
		/*<![CDATA[*/
		var receiverUrl = /*[[${receiverUrl}]]*/ '';
		var receiverApp = /*[[${receiverApp}]]*/ '';
		/*]]>*/
	</script>

	<script type="text/javascript" src="app.js">
	</script>
</body>
</html>
